/* -------------- Css para el Index  ------------ */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(32, 1, 1, 0.938);
    position: sticky;
    top: 0px;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;

}

header nav {
    background-color: rgb(0, 0, 0);
}

header nav ul {
    list-style: none;
    
}

header nav ul li {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    
    
}

.titulo-del-menu {
    color: rgb(247, 234, 221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.links-del-menu-actual {
    color: rgb(247, 234, 221)!important;
    background-color: rgba(104, 97, 97, 0.486);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.719);
    border-radius: 10px;
    padding: 0.4em;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    
}

.links-del-menu {
    color: rgb(247, 234, 221)!important;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

.fraseMotivacional {
    background-color: maroon;
    text-align: center;
    font-size: 30px;
    color: goldenrod;
    font-family: 'Special Elite', cursive;
}

main {
    background-color: rgba(250, 235, 215, 0.712);
}

.videoPresentacion {
    position: relative;
    left: 450px;
}

main h1 {
    color: rgb(161, 116, 0);
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 3px 3px black;
}
main h2 {
    font-size: 30px;
    text-align: center;
    color: rgb(224, 222, 222);
    text-shadow: 3px 3px 2px black;
}

main div p {
    width: 1000px;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 450px;
}

main h3 {
    font-size: 26px;
    color: darkred;
    text-shadow: 3px 3px 4px rgb(66, 54, 0);
    margin-top: 25px;
    text-align: center;
    margin-left: -170px;
    text-decoration: underline;
    text-decoration-color: rgb(59, 43, 0);
    
}

.perfilesProfesores {
    background-color: rgba(0, 0, 0, 0.568);
    font-size: 40px;
    margin-top: 30px;
    margin-left: -60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.perfiles {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
}

.perfilesNombres {
    display: inline;
    position: relative;
    left: 0px;
    margin-left: 175px;
    color: antiquewhite;
    font-size: 25px;
}

.perfiles img {
    position: relative;
    left: 100px;
    width: 300px;
    height: 200px;
    border-radius: 300px;
    
    
}

.opinionAlumnos {
    margin-left: 180px;
}

.opinionAlumnos div {
    width: 200px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

.opinionAlumnos div p {
    width: 250px;
    background-color: rgb(17, 1, 1);
    margin-left: -450px;
    margin-bottom: 8px;
    font-size: 20px;
    border-radius: 15px;
    color: antiquewhite;
}

.opinionAlumnos div div img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: relative;
    left: 20px;
}

main a button {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    border-radius: 20px;
    border-color: brown;
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 20px;
    color: rgb(218, 167, 0);
    height: 50px;
    margin-left: 885px;
}

footer {
    color: antiquewhite;
    background-color: rgba(32, 1, 1, 0.938);
}

.sedesFooter{
    margin: 20px;
    display: inline-block;
    position: relative;
    left: 500px;
}

footer div p {
    margin: 0px 0px 20px 0px;
    font-size: 20px;
}

footer ul li {
    font-size: 14px;
    margin: 5px;
}

footer img {
    width: 200px;
}

.redesSociales {
    background-color: rgba(255, 228, 181, 0.658);
    
}

.redesSociales a img {
    width: 50px;
    position: relative;
    left: 850px;
}

/* ------------------------------------------------------ CSS de las demas paginas -----------------------------------------------------------------*/

/* --------------------------------- CSS para pagina Nosotros -----------------------------------*/

.cuerpoCentralGris {
    background-color: rgba(0, 0, 0, 0.568);
    font-size: 40px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nuestraHistoria p {
    color: antiquewhite;
    text-align: left;
    display: inline-block;
    margin-left: -350px;
    font-size: 20px;
}

.nuestraHistoria img {
    width: 300px;
    height: 300px;
    margin-left: 550px;
}

.separador {
    height: 200px;
}
/*------------------------------ Css para las sedes ----------------------------------*/

.sedeGimnasios div p {
    color: antiquewhite;
    text-align: left;
    display: inline-block;
    margin-left: 0px;    
    font-size: 18px;
    width: 600px;
}

.sedeGimnasios iframe {
    margin-left: 500px;
}

/* --------------------------------- CSS para profesores ------------------------------------*/

.plantelProfesores {
    margin-top: 40px;
    margin-left: 40px;
}

.plantelProfesores div {
    display: inline-block;
    margin-top: -100px;
}

.plantelProfesores div p {
    font-size: 24px;
    margin-left: -350px;
    margin-right: 0px;
    text-align: justify;
    width: 1000px;
}

.plantelProfesores img {
    width: 300px;
    height: 200px;
    border-radius: 50px;
    margin-right: 0px;
    margin-top: 10px;
}

/*---------------------------------------- CSS para Combates --------------------------------*/

.videosCombates {
    margin-top: 80px;
    margin-left: 105px;

}

/*---------------------------------------- CSS para Contacto ---------------------------------*/

.formulario {
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    text-align: right;
}

.formulario form fieldset legend {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.formulario label {
    color: antiquewhite;
    text-shadow: 2px 2px 4px black;
}

.inputFormulario {
    margin-right: 0px;
    width: 500px;
    height: 50px;
    font-size: 26px;
}
.inputFormularioBoton {
    width: 300px;
    height: 20px;
    font-size: 18px;
    color: antiquewhite;
    background-color: maroon;
}