/* ----- Reset -----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// Hojas secundarias //

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";

@import "html/index";
@import "html/nosotros";
@import "html/sedes";
@import "html/profesores";
@import "html/combates";
@import "html/contacto";



/*------------------------------------ CSS General -------------------------------------*/

body {
    background-image: url(../img/background-body2.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    }
    header {
        background-color: $color-header-footer;
        div {
            .logo {
                display: flex;
                justify-content: left;
            }
        }
    }
    section {
        display: block;
        position: sticky;
        top: 0px;
        z-index: 2;
        nav {
            background-color: $color-navbar;
            div {
                button {
                    span {
                        &.titulo-del-menu {
                            color: $color-texto-navbar !important;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            font-size: 1.6em;
                            font-weight: bold;
                            text-align: center;
                            text-decoration: none;
                        }
                    }
                }
                div {
                    ul {
                        list-style: none;
                        li {
                            margin: 10px;
                            padding: 5px;
                            display: inline-block;
                            a {
                                color: $color-texto-navbar !important; /* Tuve que usar  " !important "  porque Bootstrap lo dejaba con el color de su estilo */
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        color: $color-texto-general-claro;
        background-color: $color-header-footer;
        display: flex;
        justify-content:space-around;
        align-items:center;
        div {
            display: block;
            &.sedesFooter{
                margin: 20px;
                display: block;
                p {
                    margin: 0px 0px 20px 0px;
                    font-size: 20px;
                }
                ul {
                    li {
                        font-size: 14px;
                        margin: 5px;
                        list-style: none;
                    }
                }
            }
            &.redesSociales {
                a{
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
    div {
        &.redesSociales-movil {
            display: none;
        }
    }


/* ----------------------------------------------------------------------------------------- */

@import "html/mediaqueries";
