/* ------------------------------- Media Queries versión Mobile ------------------------------ */ 
@media screen and (max-width: 767px) and (min-width: 100px) {
    header {
        div {
            &.logo {
                display: flex;
                justify-content: center;
                height: 20vw;
            }
        }
    }
    footer {
        div {
            p {
                margin: 0px 0px 20px 0px;
                font-size: 1rem;
            }
            ul {
                li {
                    font-size: 0.9rem;
                    margin: 5px;
                    list-style: none;
                }
            }
            &.redesSociales {
                a {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    div {
        &.redesSociales-movil {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
                img {
                    width: 40px;
                }
            }
        }

    }
    body {
        main {
            div {
                &.fraseMotivacional {
                    p{
                        font-size: 1rem;
                    }
                    height: 5rem;
                    
                }
                p {
                    font-size: 1.5rem;
                    text-shadow: 1px 1px 1px black;
                    padding: 1em;
                    text-align: center;
                }
                &.contenedor-para-grid {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: auto;
                
                    grid-template-areas: 
                    "h2"
                    "img-1"
                    "historia-p1"
                    "img-2"
                    "historia-p2"
                    "img-3"
                    "historia-p3";
                    img {
                        &.nuestraHistoria-img-1 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                        &.nuestraHistoria-img-2 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                        &.nuestraHistoria-img-3 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                    }
                }
                &.contenedor-para-grid-profesores {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                
                    grid-template-areas: 
                    "h2"
                    "Mickey"
                    "texto-Mickey"
                    "Rocky"
                    "texto-Rocky"
                    "Apollo"
                    "texto-Apollo"
                    "Clubber"
                    "texto-Clubber"
                    "Drago"
                    "texto-Drago";
                    div {
                        &.plantelProfesores-parrafo-Mickey {
                            border-radius: 0px 0px 30px 30px;
                        }
                        &.plantelProfesores-parrafo-Rocky {
                            border-radius: 0px 0px 30px 30px;
                        }
                        &.plantelProfesores-parrafo-Apollo {
                            border-radius: 0px 0px 30px 30px;
                        }
                        &.plantelProfesores-parrafo-Clubber {
                            border-radius: 0px 0px 30px 30px;
                        }
                        &.plantelProfesores-parrafo-Drago {
                            border-radius: 0px 0px 30px 30px;
                        }
                    }
                    img {
                        &.plantelProfesores-img-Mickey {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Rocky {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Apollo {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Clubber {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Drago {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                    }
                }
                &.cuerpoCentralGris {
                    div {
                        &.formulario {
                            font-size: 1.2rem;
                            @include configuracionFlex-1;
                            align-items: center;
                            margin-top: 50px;
                            text-align: left;
                            form {
                                fieldset {
                                    div {
                                        input {
                                            &.inputFormulario {
                                                @include medidas (100%, 50px);
                                                font-size: 1.2rem;
                                            }
                                            &.inputFormularioConsulta {
                                                display: flex;
                                                flex-direction: row;
                                                align-items: flex-start;
                                                @include medidas (100%, 75px);
                                                font-size: 1rem;
                                            }
                                            &.inputFormularioBoton {
                                                @include medidas (260px, 30px);
                                                font-size: 1rem;
                                                &:hover {
                                                    @include medidas (260px, 30px);
                                                    font-size: 1rem;
                                                }
                                            }
                                            &.inputFormularioBoton-Reset {
                                                @include medidas (260px, 30px);
                                                font-size: 1rem;
                                                &:hover {
                                                    @include medidas (260px, 30px);
                                                    font-size: 1rem;
                                                }
                                            }
                                        }
                                        select {
                                            &.inputFormulario {
                                                @include medidas (100%, 50px);
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.separador {
                    height: 50px;
                }
            }
            iframe.videoPresentacion {
                @include medidas (100%, 100vw);
            }
        }
    }
    
}

/*----------------------------------------------------------------------------------------------*/
/* ------------------------------- Media Queries versión Tablet ------------------------------ */ 

@media screen and (max-width: 1023px) and (min-width: 768px) {
    header {
        div {
            &.logo {
                display: flex;
                justify-content: center;
                height: 15vw;
            }
        }
    }
    footer {
        div {
            p {
                margin: 0px 0px 20px 0px;
                font-size: 1rem;
            }
            ul {
                li {
                    font-size: 0.9rem;
                    margin: 5px;
                    list-style: none;
                }
            }
            &.redesSociales {
                a {
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    div {
        &.redesSociales-movil {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
                img {
                    width: 40px;
                }
            }
        }

    }
    body {
        main {
            div {
                &.fraseMotivacional {
                    p{
                        font-size: 1.3rem;
                    }
                    height: 4rem;
                    
                }
                p {
                    font-size: 1.3rem;
                    text-shadow: 1px 1px 1px black;
                    padding: 1em;
                    text-align: center;
                }
                &.contenedor-para-grid {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: auto;
                
                    grid-template-areas: 
                    "h2"
                    "img-1"
                    "historia-p1"
                    "img-2"
                    "historia-p2"
                    "img-3"
                    "historia-p3";
                    img {
                        &.nuestraHistoria-img-1 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                        &.nuestraHistoria-img-2 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                        &.nuestraHistoria-img-3 {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                        }
                    }
                }
                &.contenedor-para-grid-profesores {
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: 0.2fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
                
                    grid-template-areas: 
                    "h2"
                    "Mickey"
                    "texto-Mickey"
                    "Rocky"
                    "texto-Rocky"
                    "Apollo"
                    "texto-Apollo"
                    "Clubber"
                    "texto-Clubber"
                    "Drago"
                    "texto-Drago";
                    div {
                        &.plantelProfesores-parrafo-Mickey {
                            border-radius: 0px 0px 25px 25px;
                        }
                        &.plantelProfesores-parrafo-Rocky {
                            border-radius: 0px 0px 25px 25px;
                        }
                        &.plantelProfesores-parrafo-Apollo {
                            border-radius: 0px 0px 25px 25px;
                        }
                        &.plantelProfesores-parrafo-Clubber {
                            border-radius: 0px 0px 25px 25px;
                        }
                        &.plantelProfesores-parrafo-Drago {
                            border-radius: 0px 0px 25px 25px;
                        }
                    }
                    img {
                        &.plantelProfesores-img-Mickey {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Rocky {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Apollo {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Clubber {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                        &.plantelProfesores-img-Drago {
                            @include configuracionFlex-1;
                            @include medidas (100%, 100vw);
                            border-radius: 20px 20px 0px 0px;
                        }
                    }
                }
                &.cuerpoCentralGris {
                    div {
                        &.formulario {
                            font-size: 1.2rem;
                            @include configuracionFlex-1;
                            align-items: center;
                            margin-top: 50px;
                            text-align: left;
                            form {
                                fieldset {
                                    div {
                                        input {
                                            &.inputFormulario {
                                                @include medidas (100%, 50px);
                                                font-size: 1.2rem;
                                            }
                                            &.inputFormularioConsulta {
                                                display: flex;
                                                flex-direction: row;
                                                align-items: flex-start;
                                                @include medidas (100%, 75px);
                                                font-size: 1rem;
                                            }
                                            &.inputFormularioBoton {
                                                @include medidas (260px, 30px);
                                                font-size: 1rem;
                                                &:hover {
                                                    @include medidas (260px, 30px);
                                                    font-size: 1rem;
                                                }
                                            }
                                            &.inputFormularioBoton-Reset {
                                                @include medidas (260px, 30px);
                                                font-size: 1rem;
                                                &:hover {
                                                    @include medidas (260px, 30px);
                                                    font-size: 1rem;
                                                }
                                            }
                                        }
                                        select {
                                            &.inputFormulario {
                                                @include medidas (100%, 50px);
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.separador {
                    height: 50px;
                }
            }
            iframe.videoPresentacion {
                @include medidas (100%, 100vw);
            }
        }
    }
    
}

/*----------------------------------------------------------------------------------------------*/
