/* ------------------------- CSS para página Nosotros ----------------------- */

body {
    main {
        div {
            &.cuerpoCentralGris {
                background-color: $color-cuerpo-central;
                font-size: 2rem;
                margin-top: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                h2 {
                    font-size: 2rem;
                    text-align: center;
                    color: $color-h2;
                    text-shadow: 3px 3px 2px black;
                }
            }
            &.contenedor-para-grid {
                display: grid;
                grid-template-columns: 65% 35%;
                grid-template-rows: 0.2fr 1fr 1fr 1fr;
            
                grid-template-areas: 
                "h2 h2"
                "historia-p1 img-1"
                "historia-p2 img-2"
                "historia-p3 img-3";
                h2 {
                    grid-area: h2;
                }
                div {
                    &.nuestraHistoria-parrafo-1 {
                        grid-area: historia-p1;
                        color: $color-texto-general-claro;
                        text-align: left;
                        font-size: 1rem;
                        background-color: $color-cuerpo-central-resaltado;
                    }
                    &.nuestraHistoria-parrafo-2 {
                        grid-area: historia-p2;
                        color: $color-texto-general-claro;
                        text-align: left;
                        font-size: 1rem;
                    }
                    &.nuestraHistoria-parrafo-3 {
                        grid-area: historia-p3;
                        color: $color-texto-general-claro;
                        text-align: left;
                        font-size: 1rem;
                        background-color: $color-cuerpo-central-resaltado;
                    }
                }
                img {
                    &.nuestraHistoria-img-1 {
                        grid-area: img-1;
                        @include medidas (100%, 100%);
                    }
                    &.nuestraHistoria-img-2 {
                        grid-area: img-2;
                        @include medidas (100%, 100%);
                    }
                    &.nuestraHistoria-img-3 {
                        grid-area: img-3;
                        @include medidas (100%, 100%);
                    }
                }
            }
            &.separador {
                height: 200px;
            }
        }
    }
}
/* ----------------------------------------------------------------------------------------- */