/* ------------------------- CSS para página Profesores ------------------------ */

body {
    main{
        div {
            &.cuerpoCentralGris {
                background-color: $color-cuerpo-central;
                font-size: 2rem;
                margin-top: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                h2 {
                    font-size: 2rem;
                    text-align: center;
                    color: $color-h2;
                    text-shadow: 3px 3px 2px black;
                }
            }
            &.contenedor-para-grid-profesores {
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
            
                grid-template-areas: 
                "h2 h2"
                "Mickey texto-Mickey"
                "Rocky texto-Rocky"
                "Apollo texto-Apollo"
                "Clubber texto-Clubber"
                "Drago texto-Drago";
                h2 {
                    grid-area: h2;
                }
                div {
                    &.plantelProfesores-parrafo-Mickey {
                        grid-area: texto-Mickey;
                    }
                    &.plantelProfesores-parrafo-Rocky {
                        grid-area: texto-Rocky;
                    }
                    &.plantelProfesores-parrafo-Apollo {
                        grid-area: texto-Apollo;
                    }
                    &.plantelProfesores-parrafo-Clubber {
                        grid-area: texto-Clubber;
                    }
                    &.plantelProfesores-parrafo-Drago {
                        grid-area: texto-Drago;
                    }
                }
                img {
                    &.plantelProfesores-img-Mickey {
                        grid-area: Mickey;
                        @include medidas (100%, auto);
                        @include paraPlantelProfesores-img
                    }
                    &.plantelProfesores-img-Rocky {
                        grid-area: Rocky;
                        @include medidas (100%, auto);
                        @include paraPlantelProfesores-img
                    }
                    &.plantelProfesores-img-Apollo {
                        grid-area: Apollo;
                        @include medidas (100%, auto);
                        @include paraPlantelProfesores-img
                    }
                    &.plantelProfesores-img-Clubber {
                        grid-area: Clubber;
                        @include medidas (100%, auto);
                        @include paraPlantelProfesores-img
                    }
                    &.plantelProfesores-img-Drago {
                        grid-area: Drago;
                        @include medidas (100%, auto);
                        @include paraPlantelProfesores-img
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------- */