/* ------------------------- CSS para página Sedes ----------------------- */

body {
    main {
        div {
            &.cuerpoCentralGris {
                background-color: $color-cuerpo-central;
                font-size: 40px;
                margin-top: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                h2 {
                    font-size: 2rem;
                    text-align: center;
                    color: $color-h2;
                    text-shadow: 3px 3px 2px black;
                }
                div {
                    &.sedeGimnasios {
                        div {
                            p {
                                color: $color-texto-general-claro;
                                text-align: center;
                                margin-left: 0px;    
                                font-size: 1.5rem;
                            }
                            div {
                                p {
                                    color: $color-texto-general-claro;
                                    text-align: center;
                                    margin-left: 0px;    
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------- */