/* ------------------------- CSS para página Sedes ----------------------- */

body {
    main {
        div {
            &.cuerpoCentralGris {
                div {
                    &.sedeGimnasios {
                        div {
                            p {
                                color: $color-texto-general-claro;
                                text-align: center;
                                margin-left: 0px;    
                                font-size: 1.5rem;
                            }
                            div {
                                p {
                                    color: $color-texto-general-claro;
                                    text-align: center;
                                    margin-left: 0px;    
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------- */