@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

// Usado en Página de MediaQueries //
@mixin configuracionFlex-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
}