@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

// Usado en Página de MediaQueries //
@mixin configuracionFlex-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

@mixin paraNuestraHistoria-img {
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@mixin paraPlantelProfesores-img {
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 20px 0px 0px 20px;
}